<.header>
  Try a dynamic form
  <:actions>
    <.link patch={~p"/tseqs/form"}>
      <.button>Dynamic form</.button>
    </.link>
  </:actions>
</.header>

<.modal :if={@live_action in [:form]}
        id="tseq-modal"
        show
        on_cancel={JS.patch(~p"/tseqs")}>
  <.live_component
    module = {DblessFormWeb.TseqLive.FormComponent}
    id     = {@tseq.id || :new}
    title  = {@page_title}
    action = {@live_action}
    tseq   = {@tseq}
    patch  = {~p"/tseqs"}
  />
</.modal>
